
/*css untuk latar belakang body */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-image: url(https://akcdn.detik.net.id/community/media/visual/2019/08/09/779792d0-0011-43b8-80b3-9828b13ce1f7.jpeg?w=700&q=90);
    background-size: cover;
    background-attachment: fixed;
}
*{
    scroll-behavior: smooth;
}

h1 {
    font-size: 36 px;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}



/*css untuk gambar beatle*/
#beatle-image {
    display: block;
    margin: 0 auto;
    width: 750px;
    border: 3px solid #09090a;
    border-radius: 10 px;
    background-color: #bd3d3d;
}

/* css untuk outline */
.outline {
    outline-style:double ;
    padding : 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background-color: #f4f6fd;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.outline h2{
    font-size: 24px;
    text-align: center;
}

/*css untuk list */
.list {
    outline-style: double;
    padding : 20px;
    margin: 20px auto;
    width : 80%;
    max-width: 600px;
    background-color: #f4f6fd;
    border-radius: 10px;
    font-family: 'Yuji Hentaigana Akari', cursive; /* Mengubah font */
}
 
.list h2 {
    font-size: 24px;
    text-align: center;
    background-color: rgb(179, 77, 77) ;
    color: #0f0f0f;
}

ul {
    list-style: square;
}

ul li {
    margin: 10px 0;
}

/* CSS untuk tautan dalam list */
ul li a {
    text-decoration: none;
    color: #0c0c0c;
    font-weight: bold; /* Teks lebih tebal */
}

ul li a:hover {
    text-decoration: underline;
}

/* CSS untuk let it be */
.lagu1 {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background-color: #f4f6fd; /* Latar belakang*/
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif; /* Mengubah font ke Arial */
}

.lagu1 h2{
    font-size: 24px;
    text-align: center;
    background-color: rgb(179, 77, 77) ;
    color: #0f0f0f;
}

/* CSS untuk kotak*/
.box-model {
    border: 2px solid #0a0909;      
    padding: 20px;
    font-family: Arial, sans-serif; /* Mengubah font ke Arial */
}

/* CSS untuk tabel (let it be) */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    text-align: center; /* Menengahkan isi tabel */
    font-family: Arial, sans-serif; /* Mengubah font ke Arial */
    
}

table thead {
    background-color: #070707;
    color: #fff;
}

table th, table td {
    border: 1px solid #100f0f;
    padding: 8px;
}

/* CSS (liptint) */
.lagu2 {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background-color: #f4f6fd;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif; /* Mengubah font ke Arial */
}

.lagu2 h2 {
    font-size: 24px;
    text-align: center;
    background-color: rgb(179, 77, 77);
    color: #070707;
}

/* CSS (mascara) */
.lagu3 {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background-color: #f4f6fd;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif; /* Mengubah font ke Arial */
}

.lagu3 h2 {
    font-size: 24px;
    text-align: center;
    background-color: rgb(179, 77, 77);
    color: #151515;
}

.footer {
    background-color: #bd3d3d;
    padding-bottom: 4%;
    text-align: center;
    color: white;
    padding: 3px;
    font-family: Arial, sans-serif; /* Mengubah font ke Arial */
}

/* CSS ICON*/
.instagram{
    font-size: 30px;
    color: red;
    text-align: center;
    margin-right: 10px;
} 